p Here's what we know about you so far:
|
p Your IP address is #[strong #{payload.internetProtocol}]
p You are in a region where the predominant language is #[strong #{payload.language}]
p You are using a machine running #[strong #{payload.operatingSystem}]
p You are wearing a #[strong #{payload.randomColor}] shirt.
